[Unit]
Description=SmartHome sensor-prometheus broker
After=basic.target network.target

[Service]
Type=notify
User=prometheus
Group=prometheus
ExecStart=/usr/local/bin/sensor_broker_watchdog
Restart=always
NotifyAccess=all
#WatchdogSec=300

[Install]
WantedBy=multi-user.target
